@using System.Globalization

@if (!string.IsNullOrEmpty(QuestionText))
{
    <div class="form-check">
        <h3>@QuestionText</h3>
        <input class="form-check-input" type="number" @bind="Answer" step="1" />
    </div>
}

@code {
    [Parameter]
    public string QuestionText { get; set; }

    private int? Answer { get; set; }
}
