@namespace MediPrepareQuestionair.Components

<h4>@Label</h4>
<InputRadioGroup DisplayName="@Label" @bind-Value="@Value" TValue="string">
    @foreach(var value in SelectableValues)
    {
        <InputRadio Value="@value"/> @value <br />
    }
</InputRadioGroup>
@code {
    
    private string _value;
    [Parameter]
    public List<string> SelectableValues { get; set; } = new List<string>();
    [Parameter]
    public string Value {get => _value;
        set
        {
            if (_value == value ) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        } }
    [Parameter]
    public bool isDisabled { get; set; } = false;
    [Parameter]
    public string Label { get; set; } = "Select One";
    [Parameter]
    public bool IsCheckboxes { get; set; } = false;
    
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }   
    
    

    void ToggleCheckbox(string value)
    {
        
        if (Value == value)
        {
            Value = null; // Uncheck the checkbox
        }
        else
        {
            Value = value; // Check the checkbox
        }
        StateHasChanged();
    }
}