@using System.Globalization

@if (!string.IsNullOrEmpty(QuestionText))
{
    <div class="form-check">
        <h3>@QuestionText</h3>
        <input type="date" @bind="Answer" />
    </div>
}

@code {
    [Parameter]
    public string QuestionText { get; set; }

    private DateTime? Answer { get; set; }
}
