@page "/"
@using MediPrepareQuestionair.Database
@using MediPrepareQuestionair.Services
@using System.Text.Json
@using BlazorCurrentDevice
@using Color = MudBlazor.Color

<PageTitle>Index</PageTitle>
<div>
    <h3>Debug</h3>
    <p>@Orientation</p>
    <p>@Type</p>
    <p>@OS</p>
</div>
<MudPaper>
    <MudText Typo="Typo.h1">Top Text</MudText>
    <MudText Typo="Typo.h2">Text</MudText>
    <MudText Typo="Typo.h3">Text</MudText>
    <MudText Typo="Typo.h4">Text</MudText>
    <MudText Typo="Typo.h5">Text</MudText>
    <MudText Typo="Typo.h6">Text</MudText>
    <MudText Typo="Typo.subtitle1">Text</MudText>
    <MudText Typo="Typo.subtitle2">Text</MudText>
    <MudText Typo="Typo.body1" Color="Color.Primary">Bottom Text Primary</MudText>
    <MudText Typo="Typo.body1" Color="Color.Secondary">Text Secondary</MudText>
    <MudText Typo="Typo.body1" Color="Color.Tertiary">Text Tertiary</MudText>
    
    <MudButton Color="Color.Primary">Primary</MudButton>
    <MudButton Color="Color.Secondary">Secondary</MudButton>
    <MudButton Color="Color.Tertiary">Tertiary</MudButton>
    <MudButton Color="Color.Success">Success</MudButton>
    <MudButton Color="Color.Error">Error</MudButton>
    <MudButton Color="Color.Info">Info</MudButton>
    <MudButton Color="Color.Warning">Warning</MudButton>
    <MudButton Color="Color.Dark">Dark</MudButton>
    <MudButton Color="Color.Default">Default</MudButton>
</MudPaper>


@code{
    [Inject] IBlazorCurrentDeviceService BlazorCurrentDeviceService { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    string Orientation { get; set; }
    string Type { get; set; }
    string OS { get; set; }
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            OS = await BlazorCurrentDeviceService.OS();
            Orientation = await BlazorCurrentDeviceService.Orientation();
            Type = await BlazorCurrentDeviceService.Type();
            StateHasChanged();
        }
    }

}